# django and related apps
django~=4.2.20
django-environ~=0.12.0
djangorestframework
django-cors-headers~=4.7.0
django-storages~=1.14.5
django-impersonate
django-crispy-forms
crispy-tailwind
django-recaptcha~=4.0.0

# scheduler
django-q2~=1.7.4
blessed~=1.20.0  # optional requirement for django-q2
psutil~=7.0.0

# authentication
dj-rest-auth
dj-rest-auth[with_social]
djangorestframework-simplejwt

# django dashboard
django-import-export
django-jazzmin

# database
psycopg2-binary<2.10
dj-database-url

# data analysis
pandas~=2.2.3
xlsxwriter

# file handling
whitenoise~=6.9.0

# wsgi server
gevent~=24.11.1
gunicorn~=23.0.0

# doc-generation
drf-spectacular

# admin
django-multiselectfield

# error logging
sentry-sdk[django]~=2.22.0
