{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}
{% block extrajs %}
    {{  block.super }}
    <script type="text/javascript" >

    var detect_category = function(){



        switch($('#id_category').find('option:selected').text()) {
          case "Altele":
            $('.detalii-produs').hide();
            console.log('altele');
            break;
          case "Corturi":
          console.log('cort');
            $('.detalii-produs').show();
            $('.field-quantity').show();
            $('.field-stock').show();
            $('.field-tent_capacity').show();
            $('.field-packaging_type').hide();
            $('.field-name').hide();
            $('.field-expiration_date').hide();
            $('.field-unit_type').hide();
            $('.field-textile_category').hide();
            $('.field-kids_age').hide();
            $('.field-other_textiles').hide();
            break;
          case "Îmbrăcăminte și alte textile":
            $('.detalii-produs').show();
            $('.field-name').hide();
            $('.field-quantity').show();
            $('.field-stock').show();
            $('.field-tent_capacity').hide();
            $('.field-packaging_type').show();
            $('.field-expiration_date').hide();
            $('.field-unit_type').hide();
            $('.field-textile_category').show();
            $('.field-kids_age').show();
            $('.field-other_textiles').show();
            break;
          case "Materiale de construcții":
            $('.detalii-produs').show();
            $('.field-name').show();
            $('.field-quantity').show();
            $('.field-stock').show();
            $('.field-tent_capacity').hide();
            $('.field-packaging_type').show();
            $('.field-expiration_date').hide();
            $('.field-unit_type').show();
            $('.field-textile_category').hide();
            $('.field-kids_age').hide();
            $('.field-other_textiles').hide();
            break;
          default:
            $('.detalii-produs').show();

            $('.field-name').show();
            $('.field-quantity').show();
            $('.field-stock').show();
            $('.field-tent_capacity').hide();
            $('.field-packaging_type').show();
            $('.field-expiration_date').show();
            $('.field-unit_type').show();
            $('.field-textile_category').hide();
            $('.field-kids_age').hide();
            $('.field-other_textiles').hide();
            break;
        }





    }


    $('#id_category').on('change', function() {
        detect_category();
      });
    detect_category();



    </script>
{% endblock %}
