# django
django-debug-toolbar
django-extensions
werkzeug

# data analysis
pandas
xlsxwriter

# utils
pdbpp
ipython

# style checker
black==22.1.0

# dependency management
pip-tools

-r requirements.txt
