# django and related apps
django>=3.2,<3.3
django-environ
djangorestframework
django-cors-headers
django-storages

# authentication
dj-rest-auth==2.2.3
dj-rest-auth[with_social]
djangorestframework-simplejwt==5.0.0

# django dashboard
django-import-export==2.7.1
django-jazzmin==2.4.9

# py caching
pymemcache

# database
psycopg2<2.10
dj-database-url

# file handling
whitenoise

# wsgi server
gunicorn
gevent

# doc-generation
drf-spectacular

# admin
django-jazzmin