# django and related apps
django>=3.2,<3.3
django-environ
djangorestframework
django-cors-headers
django-storages

# database
psycopg2<2.10
dj-database-url

# file handling
whitenoise

# wsgi server
gunicorn
gevent

# doc-generation
drf-spectacular
