{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify  %}

{% block extra_actions %} 
 
    <!-- <div class="col-12 mt-4">
    <div id="jazzy-actions" class="">

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">

                    

                    {% if request.user.is_validated %}
                        <div class="text-success"> <i class="fas fa-check"></i> Utilizator validat</div>
                    {% else %}
                        <div class="text-danger"><i class="fas fa-times"></i> Utilizator nevalidat</div>
                        
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                
                    <div class="form-group">


                        {% csrf_token %}
                        <input type="submit" value="YES" class="btn {% if my_vote == 'YES' %} btn-success {% else %} btn-outline-success {% endif %} form-control" name="_vote">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="NO" class="btn {% if my_vote == 'NO' %} btn-danger {% else %} btn-outline-danger {% endif %} form-control" name="_vote">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="MAYBE" class="btn {% if my_vote == 'MAYBE' %} btn-info {% else %} btn-outline-info {% endif %} form-control" name="_vote">
                    </div>

            </div>
        </div>
    </div>
</div>
 -->


{% endblock %} 



